@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap);

/* EFECTO DEGRADADO EN EL NAV*/
.header-soft {
    /*evita el fondo se salga del header*/
    position: relative;
    overflow: hidden;
    height: 80px;
}


/* Capa animada */
.header-soft::after {
    content: "";
    position: absolute;
    top: 0;
    /* empieza en la derecha */
    right: 0;
    height: 100%;
    /* invisible al inicio */
    width: 0%;
    background: linear-gradient(to left,
            #00995238,
            #00995210,
            #ffffff07
            );
    transition: 600ms ease-out;
    pointer-events: none;
    z-index: 0;
}

/* Hover: el fondo entra */
.header-soft:hover::after {
    width: 100%;
}

.nav-link-soft {
    display: inline-block;
    transition:
        font-size 200ms ease-out,
        color 200ms ease;
}

.nav-link-soft:hover {
    color: #000000 !important;
    font-weight: bolder;
    transition: 200ms ease-out;
}

/* Retraccion linea  botones */
.nav-link-soft::after {
    content: "";
    position: absolute;
    bottom: 0;
    /* empieza desde la derecha */
    right: 0;
    width: 0%;
    height: 2px;
    /* primary de Bootstrap */
    background-color: #000000;
    transition: width 200ms ease-out;
}

/* Hover: entrada linea  hacia la izquierda */
.nav-link-soft:hover::after {
    width: 105%; /* sobresale un poco por la izquierda */
    left: auto;
    right: -5%; /* sobresale un poco por la derecha*/
    transition: width 300ms ease-out;
}


.dancing-script-custom-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: fit-content;
  font-size: x-large;
  font-weight: 600;
  font-style: normal;
}

.custom-rounded{
    border-radius: 6px 36px 6px 36px;
}
