<div class="container">
    <button class="btn-back" (click)="volver()">
        <img src="/icons/back-button.svg" alt="Volver" class="icon-back"> Volver
    </button>

    <div class="card-login">

        <h2 class="text-center mb-4">Iniciar sesión</h2>

        <form (ngSubmit)="login()" class="d-flex flex-column align-items-center w-auto p-0 m-0">

            <div class="w-100">
                <label>Email</label>
                <input type="email" [(ngModel)]="email" name="email" required #emailCtrl="ngModel"
                    placeholder="Introduce su email">

                <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="text-danger">
                    Introduce un email válido
                </div>
            </div>

            <div class="w-100">
                <label>Password</label>
                <input type="password" [(ngModel)]="password" name="password" required #passCtrl="ngModel"
                    placeholder="Introduce su contraseña">

                <div *ngIf="passCtrl.invalid && passCtrl.touched" class="text-danger">
                    La contraseña es obligatoria
                </div>
            </div>

            <div *ngIf="error" class="text-danger mb-2">
                {{ error }}
            </div>

            <button class="btn btn-success w-75 mt-3 custom-rounded" [disabled]="loading">
                <span *ngIf="!loading">Aceptar</span>
                <span *ngIf="loading">Cargando...</span>
            </button>

            <a routerLink="/recuperar-password" class="link-forgot">
                ¿Has olvidado la contraseña?
            </a>

        </form>

    </div>
</div>