<div class="container w-75">

    <div class="card-login w-50">

        <h2 class="text-center mb-4">Crear cuenta</h2>

        <!-- $event.preventDefault() cancela comportamiento por defeecto del form (recargar pagina)
        registro() llama al metodo -->
        <form class="form" (submit)="$event.preventDefault(); registro()">

            <!-- NOMBRE -->
            <!--             <div>
                <label>Nombre</label>
                <input type="text" [(ngModel)]="nombre" name="nombre" required #nombreCtrl="ngModel"
                    placeholder="Tu nombre">

                @if (nombreCtrl.invalid && nombreCtrl.touched) {
                <div class="text-danger">
                    El nombre es obligatorio
                </div>
                }
            </div> -->

            <!-- EMAIL -->
            <div>
                <label class="form-label">Email</label>
                <!-- [value] toma el valor de email del ts, (imput) captura lo que se escribe y lo asigna a email del ts -->
                <input type="email" name="email" [value]="email" (input)="email = $event.target.value"
                    placeholder="correo@email.com">
            </div>

            <!-- PASSWORD -->
            <div>
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" [value]="password" (input)="password = $event.target.value"
                    placeholder="••••••">
            </div>

            <!-- CONFIRMAR PASSWORD -->
            <div>
                <label class="mb-2 fw-bold">Repetir contraseña</label>
                <input type="password" name="password2" [value]="password2" (input)="password2 = $event.target.value"
                    placeholder="••••••">
            </div>

            <!--  Mensajes de error -->
            @if (error) {
            <div class="text-danger bg-danger-subtle text-center mb-3 p-2">
                {{error}}
            </div>
            }
            
            <!-- Mensaje exito -->
            @if (ok) {
            <div class="text-success bg-success-subtle mb-3 text-center p-2">
                {{ ok }}
            </div>
            }

            <!-- BOTÓN -->
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn-login w-75 custom-rounded" [disabled]="loading" (click)="registro()">

                    @if (!loading) {
                    <span>Registrarse</span>
                    } @else {
                    <span>Cargando...</span>
                    }

                </button>
            </div>


            <!-- CHECKBOX -->
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <!-- (change) detecta cambios en el checbox, checkbox devuelve true si esta marcado, $event.target.checked captura 
                    el evento true del checkbox, para asignarlo a newsletter del ts -->
                    <input type="checkbox" name="newsletter" (change)="newsletter = $event.target.checked">

                    Deseo recibir noticias y ofertas
                </label>
            </div>

        </form>

    </div>

</div>