<div class="container">

    <div class="card-login">

        <h2 class="text-center mb-4">Recuperar contraseña</h2>

        <form (ngSubmit)="enviar()">

            <!-- EMAIL -->
            <div>
                <label>Email</label>
                <input type="email" [(ngModel)]="email" name="email" required #emailCtrl="ngModel"
                    placeholder="Introduce su email">

                @if (emailCtrl.invalid && emailCtrl.touched) {
                <div class="text-danger">
                    Introduce un email válido
                </div>
                }
            </div>

            <!-- MENSAJE -->
            @if (mensaje) {
            <div class="text-success mb-2">
                {{ mensaje }}
            </div>
            }

            <!-- BOTONES -->
            <div class="actions">

                <button type="button" routerLink="/login" class="btn-cancel">
                    Cancelar
                </button>

                <button type="submit" class="btn-login">
                    Continuar
                </button>

            </div>

        </form>

    </div>

</div>