<div class="banner-container mt-3 mb-5">
    <img 
        src="nuestrosClientes/eduardo-miguela.webp" 
        alt="Galeria de trabajos realizados en eventos." 
        class="banner-img">
</div>

<div class="container-fluid bg-success">

    <div class="d-flex flex-wrap w-100 gap-4 justify-content-center ">

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-tarjeta-sercvicios-home 
                icon="/icons/vinilo_descompuesto.webp"
                imagen="/colaboradores/marcela-laskoski-Dj.webp" 
                titulo="Ameniza con un DJ"
                descripcion="Contrata un dj para todo tipo de eventos y fiestas privadas.">
            </app-tarjeta-sercvicios-home>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-tarjeta-sercvicios-home 
                icon="/icons/camara.webp" 
                imagen="/colaboradores/jamie-street-Fotografo.webp" 
                titulo="Rememora tu evento."
                descripcion="Rememora tu evento con un fotógrafo 100% profesional.">
            </app-tarjeta-sercvicios-home>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-tarjeta-sercvicios-home 
                icon="icons/bolaDisco.webp" 
                imagen="colaboradores/onkar-singh-Animador.webp" 
                titulo="Decora tus eventos de cine"
                descripcion="Decora tus eventos y fiestas como soñaste.">
            </app-tarjeta-sercvicios-home>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-tarjeta-sercvicios-home 
                icon="icons/tarta.webp" 
                imagen="colaboradores/david-holifield-Pastelero.webp" 
                titulo="Tartas nivel Dios."
                descripcion="Un matiz de sabores y una calidad solo apta para deidades.">
            </app-tarjeta-sercvicios-home>
        </div>

    </div>
</div>