<footer
    class="header-soft d-flex flex-column flex-md-row h-auto justify-content-between align-items-center mb-5 px-5 py-2 shadow bg-body-tertiary">

    <div class="d-flex flex-column justify-content-center align-items-center gap-1 ">

        <img src="/icons/pareja_verde.webp" alt="Logo corporativo" width="60rem" height="60rem">

        <div class="d-flex gap-3 align-items-center">
            <a href="#" aria-label="Ir a X (Twitter)">
                <img src="/icons/X_brush.webp" alt="X" width="24" height="24">
            </a>
            <a href="#" aria-label="Ir a Instagram">
                <img src="/icons/Instragram_brush.webp" alt="Instagram" width="24" height="24">
            </a>
            <a href="#" aria-label="YouTube">
                <img src="/icons/YouTube_brush.webp" alt="Ir a YouTube" width="24" height="24">
            </a>
            <a href="#" aria-label="Ir a LinkedIn">
                <img src="/icons/LinkedIn_brush.webp" alt="LinkedIn" width="24" height="24">
            </a>
        </div>

    </div>

    <div class="d-flex align-items-start justify-content-start justify-content-md-end w-50 gap-5">

        <div class="d-flex flex-column">

            <p class="text-dark fw-bold ">Contacto</p>

            <div class="d-flex flex-column gap-2">

                <nav class="d-flex gap-2">
                    <img src="/icons/whatsapp.webp" alt="WhatsApp" width="24" height="24">
                    <a href="#" routerLink="/contacto"
                        class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">WhatsApp</a>
                </nav>

                <nav class="d-flex gap-2">
                    <img src="/icons/mail_icon.webp" alt="WhatsApp" width="24" height="24">
                    <a href="#" routerLink="/contacto"
                        class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">Email</a>
                </nav>
            </div>
        </div>

        <div class="d-flex flex-column">

            <p class="text-dark fw-bold ">Redes Sociales</p>

            <div class="d-flex flex-column gap-2">

                <nav class="d-flex gap-2">
                    <a href="#" routerLink="/contacto"
                        class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">X</a>
                </nav>

                <nav class="d-flex">
                    <a href="#" routerLink="/contacto"
                        class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">Instagram</a>
                </nav>

                <nav class="d-flex">
                    <a href="#" routerLink="/contacto"
                        class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">YouTube</a>
                </nav>

                <nav class="d-flex">
                    <a href="#" routerLink="/contacto"
                        class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">LinkedIn</a>
                </nav>
            </div>
        </div>

        <div class="d-flex flex-column">
            <div class="d-flex flex-column">

                <p class="text-dark fw-bold ">No estas registrado?</p>

                <div class="d-flex flex-column">
                    <nav class="d-flex">
                        <a href="#" routerLink="/contacto"
                            class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">Registrate</a>
                    </nav>
                </div>
            </div>

            <div class="d-flex flex-column mt-4">
                <p class="text-dark fw-bold ">Tienes cuenta?</p>

                <div class="d-flex flex-column">

                    <nav class="d-flex">
                        <a href="#" routerLink="/contacto"
                            class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">Registrate</a>
                    </nav>
                </div>
            </div>

        </div>

    </div>

</footer>