<footer class="d-flex flex-row justify-content-between h-auto px-4 px-md-5 py-2 bg-body-tertiary footer-shadow">

    <div class="d-flex flex-column justify-content-center align-items-center gap-1 ">

        <a href="#" aria-label="Ir a inicio.">
            <img src="/iconos/pareja_verde.webp" alt="Logo corporativo" width="60rem" height="60rem" class="img-fluid img-hover">
        </a>

        <div class="d-flex gap-3 align-items-center">
            <a href="https://x.com/?lang=es" aria-label="Ir a X (Twitter)">
                <img src="/iconos/X_brush.webp" alt="X" width="24" height="24" class="img-fluid img-hover">
            </a>
            <a href="https://www.instagram.com/lazibero/" target="_blank" aria-label="Ir a Instagram">
                <img src="/iconos/Instagram_brush.webp" alt="Instagram" width="24" height="24" class="img-fluid img-hover">
            </a>
            <a href="https://www.youtube.com/?app=desktop&hl=es" aria-label="YouTube">
                <img src="/iconos/YouTube_brush.webp" alt="Ir a YouTube" width="24" height="24" class="img-fluid img-hover">
            </a>
            <a href="https://www.linkedin.com/in/eduardo-peon-castillo" aria-label="Ir a LinkedIn">
                <img src="/iconos/LinkedIn_brush.webp" alt="LinkedIn" width="24" height="24" class="img-fluid img-hover">
            </a>
        </div>

    </div>

    <div class="d-flex flex-column align-items-center me-5">

        <button class="btn btn-outline-secondary h-auto mt-3 d-md-none dropdown-toggle" type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#menuFooter" 
                aria-expanded="false" 
                aria-controls="menuFooter">
            Opciones
        </button>
      <!--   
        data-bs son instrucciones de Bootstrap para JS (comportamiento)
        toggle=colapse indica es un acordeon (colapsable)
        target indica a que etiqueta aplica el comportamiento (con el id)
        aria para la accesibilidad, expanded=false indica que el menu esta cerrado, controls indica a que etiqueta aplica, para el software de asistenecia
    -->
        <div class="collapse d-md-block justify-content-center border-start border-2 mt-3 ps-3" id="menuFooter"> 

            <div class="d-flex flex-column flex-md-row align-items-start justify-content-start justify-content-md-end gap-5">

                <div class="d-flex flex-column">

                    <p class="text-dark fw-bold">Contacto</p>

                    <div class="d-flex flex-column gap-2">

                        <nav class="d-flex gap-2">
                            <img src="/iconos/whatsapp.webp" alt="WhatsApp" width="24" height="24">
                            <a href="https://wa.me/34690329135?text=Hola%20Eduardo,%20he%20visitado%20tu%20web%20y%20me%20gustaría%20hablarte%20sobre%20un%20proyecto." target="_blank"
                                target="_blank" rel="noopener"
                                class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">WhatsApp
                            </a>
                            <!--  rel tiene dos parametros, 
                                noopener corta acceso a pestana original de mi app, evita pishing si la href ha sido hackeada
                                noreferrer lo mismo que noopener y tambien evita que el sitio destino sepa de donde viene el trafico 
                                -->
                        </nav>

                        <nav class="d-flex gap-2">
                            <img src="/iconos/mail_icon.webp" alt="WhatsApp" width="24" height="24">
                            <a href="mailto:elpeonc01@gmail.com?subject=Contacto%20desde%20tu%20web&body=Hola%20Eduardo:%0D%0AHe%20visitado%20tu%20web%20y%20me%20gustaría%20hablarte%20sobre%20un%20proyecto.%0A%0AUn%20saludo."
                                target="_blank" rel="noopener"
                                class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">Email</a>
                        </nav>
                    </div>
                </div>

                <div class="d-flex flex-column 1875rem">

                    <p class="text-dark fw-bold ">Redes Sociales</p>

                    <div class="d-flex flex-column gap-2">

                        <nav class="d-flex gap-2">
                            <a href="https://x.com/?lang=es" target="_blank"
                                class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">X</a>
                        </nav>

                        <nav class="d-flex">
                            <a href="https://www.instagram.com/lazibero/" target="_blank"
                                class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">Instagram</a>
                        </nav>

                        <nav class="d-flex">
                            <a href="https://www.youtube.com/?app=desktop&hl=es" target="_blank"
                                class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">YouTube</a>
                        </nav>

                        <nav class="d-flex">
                            <a href="https://www.linkedin.com/in/eduardo-peon-castillo" target="_blank"
                                class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">LinkedIn</a>
                        </nav>
                    </div>
                </div>

                <div class="d-flex flex-column">
                    <div class="d-flex flex-column">

                        <p class="text-dark fw-bold ">No estas registrado?</p>

                        <div class="d-flex flex-column">
                            <nav class="d-flex">
                                <a href="#" routerLink="/contacto"
                                    class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">Registrate</a>
                            </nav>
                        </div>
                    </div>

                    <div class="d-flex flex-column mt-4">
                        <p class="text-dark fw-bold ">Tienes cuenta?</p>

                        <div class="d-flex flex-column">

                            <nav class="d-flex">
                                <a href="#" routerLink="/contacto"
                                    class="nav-link-soft text-decoration-none text-muted fw-medium position-relative">Accede</a>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</footer>